<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794965708466-nhvk92tjus7n8v2ns5ufl7oou6tpgab8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794965708466-nhvk92tjus7n8v2ns5ufl7oou6tpgab8</string>
	<key>API_KEY</key>
	<string>AIzaSyD3JzBc3u1-h0Vy63W0FwkdytIv5WqLNCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>794965708466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nkani.Tinderclone</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-de76d</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-de76d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794965708466:ios:a0c9d2351f476a3a3503ab</string>
</dict>
</plist>